@import url(https://fonts.googleapis.com/css?family=Megrim);
@import url(https://fonts.googleapis.com/css?family=Raleway);

/* You'll probably want to add some styles here */
h1 {
	text-align: middle;
	font-family: 'Megrim';

}
p {
	text-align: middle;
	font-family: 'Raleway';
}