@import url(http://fonts.googleapis.com/css?family=Quicksand);

/* You'll probably want to add some styles here */
h1, p {
	text-align: center;
	font-family: 'Quicksand';
	color: white;

}

h1 {
	text-align: center;
	font-style: bold;
}

#container {
	border: 5px solid white;
}

body {
	background-color: black;
}