@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

/* You'll probably want to add some styles here */
#head-info {
	position: absolute;
	width: 100%;
}

h1 {
	text-align: center;
	font-style: bold;
	font-family: 'Oswald';
	color: black;
	text-shadow: 2px 2px white;
}

#info {
	font-family: 'Roboto Condensed';
	color: black;
	background-color: white;
	opacity: 0.8;
	padding: 5px;
	position: absolute;
	bottom: 10px;
	width: 100%;
}

#container {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}


body {
	background-color: black;
}